@{
    ViewData["Title"] = "Gage notas";
}
<div class="text-center" id="mPerfil">

    <img src="/img/Notas.png" />

    <h1>@ViewData["Title"]</h1>

    <p>Olá <b>@User.Identity.Name</b> <br /> Por favor siga o programador deste site no Instagram <a href="https://instagram.com/gage.com.br?igshid=MzMyNGUyNmU2YQ==">Clique aqui</a></></p>

</div> <br />

<div class="mAviso">
    <img src="/img/info.png"/> <br />
    Em breve será possível você alterar sua senha e-mail e fazer outras alterações nesta área.

</div>
