<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <title>@ViewData["Title"] - Gage notas</title>
</head>

@model LoginViewModel
@{
    ViewData["Title"] = "Entrar com usuario";
    Layout = null;
}



<div class="contLogin">

    <div class="areaImagem">
        <img src="/img/Gage 1.png" />
    </div>

    <div class="row">

        <div class="col-md-12">

            <form method="post">

                <div asp-validation-summary="All" class="alert-danger"></div>

                <div class="form-group">

                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>

                </div><br />

                <div class="form-group">

                    <label asp-for="Password">Senha</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>

                </div><br />

                <div class="checkbox">

                    <input asp-for="RememberMe" />
                    <b>@Html.DisplayNameFor(m => m.RememberMe)</b>

                </div><br />

                <button type="submit" id="btnEviar">Entrar</button>

            </form>

            <p>
                <a asp-action="Register" class="contaUser">Criar conta</a>
            </p>

        </div>

    </div>

</div>